{% extends "libro/home.html"%}
{% block title %}Listardo de Autores{% endblock %}
{% block content %}

{% if autores %}
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Nacionalidad</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td>{{ autor.id }}</td>
            <td>{{ autor.nombre }}</td>
            <td>{{ autor.apellidos }}</td>
            <td>{{ autor.nacionalidad }}</td>
            <td>{{ autor.descripcion }}</td>
            <td>
                <a class="btn btn-info"href="{% url 'editar_autor' autor.id %}">Editar</a>
                <a class="btn btn-danger"href="{% url 'eliminar_autor' autor.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No hay autores registrados</h1>
<br>
{% endif %}
<a class="btn btn-warning" href="{% url 'home' %}">Regresar al inicio</a>
{% endblock %}