{% extends "libro/home.html"%}
{% block title %}Listardo de Libros{% endblock %}
{% block content %}
<button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'crear_libro' %}')">Crear libro</button>
<br>
{% if libros %}
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Fecha de publicación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>
                {% for autor in libro.autor_id.all %}
                <li>{{ autor.nombre }}</li>
                {% endfor %}
            </td>
            <td>{{ libro.fecha_publicacion }}</td>
            <td>
                <button class="btn btn-info" onclick="abrir_modal_edicion('{% url 'editar_libro' libro.id %}')">Editar</button>
                <a class="btn btn-danger" href="{% url 'eliminar_libro' libro.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No hay libros registrados</h1>
<br>
{% endif %}
<div class="modal fade" id="creacion" role="dialog">

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
{% block stracjs %}
<script type="text/javascript" src="">
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show');
        })
    }
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show');
        })
    }
</script>
{% endblock %}
<a class="btn btn-warning" href="{% url 'home' %}">Regresar al inicio</a>
{% endblock %}